.App {
  text-align: center;
  background-color: beige;
  height: 100vh;
  display: grid;
}

input[type=number]{
  width: 25vw;
}

.siteMapContainer {
  display: flex;
}

.rowStyling {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowItem {
  align-self: center;
}

.costSummary {
  margin: auto;
}

.fileUploadWelcomeScreen {
  margin: auto;
}

.bulldozer-img {
  height: 100px;
  width: 100px;
}